<template>
	<div id="reports-content" class="col-8 col-md-10">
		<div class="container">
			<div id="week_header">
				<span><b>Von:</b> {{report.weekstart}}</span>
				<span><b>Bis:</b> {{report.weekend}}</span>
			</div>
			<div v-if="success" class="alert alert-success">
				<h5>Erfolgreich angelegt</h5>
			</div>
			<form ref="formElement">
				<textarea name="content1" placeholder="Betriebliche Tätigkeiten" id="content1" v-model="report.content1"></textarea>
				<textarea name="content2" placeholder="Unterweisungen" id="content2" v-model="report.content2"></textarea>
				<textarea name="content3" placeholder="Berufsschule" id="content3" v-model="report.content3"></textarea>
				<input type="text" class="hidden" :value="csrf">
				<button class="btn btn-success" @click="send($event)" type="submit">Abschicken</button>
			</form>
		</div>
	</div>
</template>

<script>
	export default{
		props: ['report'],
		data() {
			return {
				csrf: '',
				success: false
			}
		},
		created(){
			this.csrf = document.querySelectorAll('meta[name=csrf-token]')[0].content;
		},
		methods: {
			send(event) {
				event.preventDefault();
				let requestObj = {
					"content1": this.report.content1,
					"content2": this.report.content2,
					"content3": this.report.content3,
					"report_number": this.report.number,
					"csrf": this.csrf
				};
				const formData = new FormData(this.$refs.target);
				formData.append('report', JSON.stringify(requestObj));
				axios.default.post('addreport', formData).then(response => {
					if(typeof response.data === "object"){
						this.success = true;
						const me = this;
						setTimeout(()=>{
							me.success = false;
						}, 3000);
					}
					this.$emit('updatedreports', response);
				});
			}
		}
	}
</script>

<style>
	#reports-content{
		position: relative;
	}
	#content1, #content2, #content3{
		display: block;
		margin: 10px;
		padding: 10px;
		width: 100%;
		height: 180px;
	}

	button{
		margin-left: 10px;
	}
	.hidden{
		display: none;
	}
	#week_header{
		display: flex;
		justify-content: center;
		margin-top: 10px;
	}
	#week_header span:first-child{
		margin-right: 40px;
		display: inline-block;
	}
	@media(max-width: 556px){
		#week_header span:first-child{
			margin: 0 10px;
		}
	}
</style>
