<template>
	<div id="dashboard">
		<div class="row">
			<sidebar-component :reports="reports" @getreport="getReport($event)"></sidebar-component>
			<template v-if="isWelcomePage">
				<welcome-component :username="user.fname"></welcome-component>
			</template>
			<template v-else>
				<content-component @updatedreports="getUpdatedReports($event)" :report="report"></content-component>
			</template>
		</div>
	</div>
</template>

<script>
export default {
	props: ['user', 'reports'],
	data(){
		return {
			report: {},
			isWelcomePage: true,
			reportnumber: 0
		}
	},
	watch:{
		report(){
			if(Object.keys(this.report).length !== 0){
				this.isWelcomePage = false;
			}
		}
	},
	methods: {
		getReport(event){
			this.report = event.data;
		},
		getUpdatedReports(event){
			this.reports = event.data;
		}
	}
}
</script>
<style>
	.mobile-menu{
		position:relative;
	}
	.mobile-menu span:first-child{
		width: 20px;
		height: 5px;
		position: absolute;
		top: 0;
		background-color: #000;
	}
	.mobile-menu span:nth-child(2){
		width: 20px;
		height: 5px;
		position: absolute;
		top: 5px;
		background-color: #000;
	}
	.mobile-menu span:last-child{
		width: 20px;
		height: 5px;
		position: absolute;
		bottom: 0;
		background-color: #000;

	}
</style>
