<template>
	<div id="sidebar" class="sidebar col-4 col-md-2">
		<div class="reports" v-for="report in reports">
			<span v-for="year in Object.keys(report)" @click="setSelected($event)" class="year">{{year}}</span>
			<div class="month" v-for="(monthObj) in report[Object.keys(report)]">
				<span v-for="month in Object.keys(monthObj)" @click="setSelected($event)" class="month-text">{{month}}</span>
				<div v-for="rep in monthObj[Object.keys(monthObj)[0]]" @click="getReportData(rep.number)" class="report_number">
					<span class="dot" :style="{backgroundColor: rep.exported}"></span>
					<span>{{rep.number}}</span>
					<span class="pdf_dl" @click="getReportPDF(rep.number)"><i class="fa fa-file-pdf"></i></span>
				</div>
			</div>
		</div>
	</div>
</template>
<script>
export default{
	props: ['reports'],
	data(){
		return {
		}
	},
	methods: {
		setSelected(event) {
			if(event.target.className.includes("selected")){
				event.target.classList.remove('selected');
			} else {
				event.target.classList.add('selected');
			}
		},
		getReportData(reportNumber){
			axios.default.post('report', {"report_number": reportNumber}).then(reportData=>{
				this.$emit('getreport', reportData);
			})
		},
		getReportPDF(reportNumber){
			axios.default.post('pdfexport',{"report_number": reportNumber}, {responseType: 'arraybuffer'}).then(response => {
				const file = new Blob(
					[response.data],
					{type: 'application/pdf'}
				);
				const fileURL = URL.createObjectURL(file);
				window.open(fileURL);
			}).then(()=>{this.refreshSidebar()});
		},
		refreshSidebar(){
			axios.default.get('refresh').then(response => {
				this.reports = response.data;
			});
		}
	}
}
</script>

<style scoped>
	.pdf_dl i{
		color: #fff;
	}
	.reports{
		padding-left: 10px;
	}
	.year{
		display: block;
		padding: 5px;
	}
	.report_number {
		transition: .3s opacity ease;
		display: none;
		padding-left: 20px;
		opacity: 0;
		position: relative;
	}
	.month{
		transition: .3s opacity ease;
		display: none;
		padding-left: 10px;
		opacity: 0;
	}
	.year.selected ~*{
		display: block !important;
		opacity: 1;
	}
	.year.selected{
		border-bottom: 1px solid #000;
	}
	.month-text.selected ~.report_number{
		display: block !important;
		opacity: 1;
	}
	.month-text.selected{
		border-bottom: 1px solid #000;
	}
	.month-text{
		display: block;
		padding: 5px;
	}
	.month-text:before,
	.year:before,
	.report_number:before{
		content: '';
		display: block;
		background-color: #343a40;
		width: 100%;
		height: 27px;
		position: absolute;
		z-index: -1;
		left: -400px;
		border-radius: 15px;
		transition: .3s all ease;
	}
	#sidebar{
		height: 90vh;

	}
	#sidebar * {
		font-weight: bold;
	}
	.dot{
		width: 5px;
		height: 5px;
		background-color: #000;
		display: inline-block;
		border-radius: 10px;
		margin-bottom: 2px;
	}

	@media (min-width : 992px)
	{
		.report_number:hover .pdf_dl{
			display: inline-block;
			position: absolute;
			padding: 2px 25px;
			border-radius: 15px;
			right: 0;
			background-color: #66ffcc;
			opacity: 1;
		}
		.report_number:hover .dot{
			display: none;
		}
		.report_number:hover,
		.year:hover,
		.month-text:hover {
			color: #fff;
		}
		#sidebar *:hover{
			cursor: pointer;
		}
		.report_number:hover:before,
		.year:hover:before,
		.month-text:hover:before{
			left: 0;
		}

		.report_number.isdownloaded{
			text-shadow: 2px 2px 2px blue;
		}
		.pdf_dl{
			opacity: 0;
			transition: all .3s;
			display: none;
		}
	}
	@media(max-width : 556px)
	{
		.reports{
			padding-left: 0;
		}
		.month{
			padding-left: 2px;
		}
		.report_number{
			padding-left: 5px;
		}
		.pdf_dl{
			display: inline-block;
			position: absolute;
			padding: 2px 5px;
			border-radius: 15px;
			right: 0;
			background-color: #66ffcc;
			opacity: 1;
		}
	}
</style>
