html{
  height: 100vh;
  body{
	/*TODO IMPORTANT remove if you find the outter x distance*/
	overflow-x: hidden;
	height: 100vh;
	nav.navbar{
	  height: 10vh;
	  .nav-link{
		color: #fff;
		font-weight: bold;
	  }
	  .fa.fa-user:hover{
		color: #66ffcc;
	}
	.nav-item.dropdown
	{
		background-color: #343a40;
		color: #fff;
		position: absolute;
    	right: 5px;
	}
	.nav-link.dropdown-toggle
	{
		background-color: #343a40;
		color: #fff;
	}
	}
	.btn_logout{
		color: white;
	}
	.btn_logout:hover{
		color: black;
		background-color: #66ffcc;
	}
	.alert-success{
	  padding: 7px;
	  margin-left: 10px;
	  margin-right: -10px;
	}
  }
}
