/* Made with love by Mutiullah Samim*/

.register_body{
background-image: url('https://images.wallpaperscraft.com/image/dark_spots_texture_background_50355_1920x1080.jpg');
background-size: cover;
background-repeat: no-repeat;
height: 100%;
font-family: 'Numans', sans-serif;

}

.container{
height: 100%;
align-content: center;
}

.card_register{
height: 600px;
margin-top: auto;
margin-bottom: auto;
width: 400px;
background-color: rgba(0,0,0,0.5) !important;
}

.card-header h3{
color: white;
}

.input-group-prepend span{
width: 50px;
//background-color: #FFC312;
background-color: #66ffcc;
color: black;
border:0 none !important;
}

input:focus{
outline: 0 0 0 0  !important;
box-shadow: 0 0 0 0 !important;

}

.remember{
color: white;
}

.remember input
{
width: 20px;
height: 20px;
margin-left: 15px;
margin-right: 5px;
}

.register_btn{
color: black;
//background-color: #FFC312;
background-color: #66ffcc;
//width: 100px;
}

.register_btn:hover{
color: black;
background-color: white;
}

.links{
color: white;
}

.links a{
margin-left: 4px;
}