
// Fonts
@import url('https://fonts.googleapis.com/css?family=Nunito');

// Variables
@import 'variables';

// Bootstrap
@import '~bootstrap/scss/bootstrap';

// Import Register and Login styles
@import 'login.scss';
@import 'register.scss';
@import 'general.scss';

//@import '../../node_modules/@fortawesome/fontawesome-free/scss/fontawesome';

//sass data
@import 'general';

.navbar-laravel {
  background-color: #fff;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.04);
}
